.product-card-slider__container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.slick-prev:before {
    color: var(--gray-color) !important;
    font-size: 2rem !important;
    margin-left: -0.5rem;
}

.slick-next:before {
    color: var(--gray-color) !important;
    font-size: 2rem !important;
}

.slick-slide>div {
    padding: 0 0.5rem;
}


.new__container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.new__title {
    text-align: center;
}

.cat__list {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.cat__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
    font-weight: var(--font-normal);
}

.cat-item__container {
    border: 1.5px solid var(--text-color);
    /* border-radius: 16px; */
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.active-cat {
    border: 1.5px solid var(--theme-color);
    background-color: var(--theme-color);
}

.active-cat .cat__item {
    color: var(--container-color);
}

.cat__item {
    background-color: transparent;
    color: var(--text-color);
}

.cat-item__container:hover {
    background-color: var(--theme-color);
    border: 1.5px solid var(--theme-color);
    color: var(--container-color);
}

.cat-item__container:hover .cat__item {
    color: var(--container-color);
}


/* For medium devices */
@media screen and (max-width: 992px) {
    .new__container {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .cat__list {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}


/* For small devices */
@media screen and (max-width: 460px) {   
    .active-cat {
        border: 1px solid var(--theme-color) !important;
    }

    .cat-item__container:hover {
        border: 1px solid var(--theme-color);
    }


    .new__container {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .cat-item__container {
        /* border-radius: 14px; */
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border: 1px solid var(--text-color);
    }

    .product-card-slider__container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .cat__list {
        column-gap: 0.5rem;
    }

    .slick-slide>div {
        padding: 0 0.25rem;
    }

    .slick-prev:before {
        color: var(--gray-color) !important;
        font-size: 1.5rem !important;
    }
    
    .slick-next:before {
        color: var(--gray-color) !important;
        font-size: 1.5rem !important;
    }
}